html{font-size: 100%}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.head{
    width: 100%;
    height: 4rem;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    text-align: center;
    background: #29bde0;
    color: white;
    line-height: 4rem;
}
.head-img-one{float: left;
    position: relative;
    top: 1vw;
    left: 1vw;
}
.head-img-two{
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    border: white solid 0.2rem;
    text-align: center;
    float: right;
    position: relative;
    top: 1vw;
    right: 1vw;
}
.head-img-two-point{
    width: 0.2rem;
    height: 0.2rem;
    background: white;
    margin: 0;
    display: inline-block;
    line-height: 0;
    position: relative;
    top: -2rem;
    left: 0.6rem;
}
.head-img-two-vertical-line{
    width: 0.2rem;
    height: 1rem;
    margin: 0;
    background: white;
    display: inline-block;
    position: relative;
    top: -0.8rem;
    left: -0.6rem;
}



.row-one{
    width: 100%;
    height: auto;
    background: #29bde0;
    text-align: center;
}
.row-one-img{
    width: 80%;
    position: relative;
    top: 3vw;
}
.row-text-one{
    text-align: left;
    font-size: 5vw;
    color:#ffc865;
    position: relative;
    top: 3rem;
}
.row-text-two{
    font-size: 3.5vw;
    color: white;
    text-align: left;
}
.row-two{
width: 100%;
    height: auto;
    color:black;
    font-size: 3vw;
    border-bottom: solid thin #dddddd;
}
.row-two-text-time{
color: #c7c7c7;
    font-size: 2vw;
    display: inline-block;
}
.row-two-text{
    color: #acacac;
    font-size: 3vw;
}
.row-three{
    width: 100%;
    height: 20vh;
    margin: 0;
    padding: 0;
    background: rgba(153,223,240,0.6) ;
    z-index: 1;
    text-align: center;
    position: fixed;
    bottom:0;
}
.row-three-button-one{
    width: 40vw;
    height: 12vh;
    border-radius: 2vw;
    background: #f66f6f;
    font-size: 2vw;
    text-align: center;
    line-height: 5rem;
    color: white;
    display: inline-block;
    position: relative;
    top:4vh ;
    outline: none;
}
.row-three-button-two{
    width: 40vw;
    height: 12vh;
    border-radius: 2vw;
    background: #fbb435;
    font-size: 2vw;
    text-align: center;
    line-height: 5rem;
    color: white;
    display: inline-block;
    position: relative;
    top: 4vh;
    outline: none;
}