body{width: 100vw;
     height: 100vw;
     margin: 0;
     padding: 0;
border: none}
.sudoku{float: left;
    width: 30vw;
    height: 30vw;
    margin: 0;
    padding: 0;
    border-radius: 5vw;
    border: solid 1vw ;
    background-color: #5fc0cd;
    color: white;
    text-align: center;
    font-size: 15vw;
    line-height: 30vw}