html{font-size: 62.5%}
body{width:100%;
    height:100%;
    margin: 0 0 10% 0;
    padding: 0 0 10% 0;
    min-width:320px;
    _width:expression((document.documentElement.clientWidth||document.body.clientWidth)<320?"320px":"");
}
.head,.head-background,.row-one{width: 100%}
.head{
   height: 4.5rem;
    margin: 0;
    padding: 0;
    border: none;
   background-color: #5fc0cd;
   font-size: 2rem;
   color: #FFFFFF;
   text-align: center;
   line-height: 240%}
.arrow{width: 1.5rem;
    height: 4rem;
    position:absolute;
    left: 1.5rem}
.head-background
     {height: 16rem;
    background: url("./images/task5-1_02.png");
   background-size: cover;}
.portrait
    {width:8.5rem;
    height: 8.5rem;
    border-radius: 4.25rem;
    font-size: 2rem;
    text-indent: 13rem;
    color: white;
    line-height: 300%;
    background: url("./images/task5-1_05.png");
    background-size: cover;
    position: absolute;
    top:8rem;
    left: 2rem}
.head-text
    {color: white;
    font-size: 1.8rem;
    line-height: 5rem;
    position: absolute;
    top: 8.5rem;
    left: 13rem;
}
.icon{
    position: absolute;
    top: 12.5rem;
    left: 13rem;
}
.head-text-small
    {color: white;
    font-size: 1.35rem;
    position: absolute;
    top: 13rem;
    left: 15rem}
.row-one
    {width: 100%;
    height: 4rem;
    font-size: 2.2rem;
    text-indent: 4rem;
   border-bottom: solid thin #e1e5e7;
    line-height: 3.5rem;
   }

.vertical-line-blue
    {width: 0.3rem;
    height: 2rem;
    padding: 0;
    border: none;
    background:#5fc0cd;
    position: relative;
    top: -2.5rem;
    left: 2rem;
    }
.vertical-line
{width:0.1rem;
    height:1.5rem;
    background:#e1e5e7;
    position: relative;
    top: -2.8rem;
    left: 7rem}
.row--one{width: 100%;
          height: auto;
          min-height: 4rem;
          word-wrap: break-word;
          border-bottom: solid thin #e1e5e7 ;
          font-size: 2rem;
          float: left;
          line-height: 4rem}
.row-one-last{
    width: 95%;
    height: 4rem;
    height: auto;
    min-height: 4rem;
    margin: 0 0 0 5rem;
    word-wrap:break-word;
    display: inline;
    border-bottom: solid thin #e1e5e7;
    font-size: 2rem;
    float: right;
    line-height:4rem;
}
.row{width: 95%;
    height: 4rem;
    margin: 0 0 0 5rem;
    word-wrap:break-word;
    border-bottom: solid thin #e1e5e7;
    font-size: 2rem;
    float: right;
    line-height: 4rem;}
.vertical-line-two
{width:0.1rem;
    height:1.5rem;
    background:#e1e5e7;
    position: relative;
    top: -6.8rem;
    left: 8.5rem}
.vertical-line-last{
    width:0.1rem;
    height:1.5rem;
    margin: 0 0 0 8.5rem;
    background:#e1e5e7 ;
    position: absolute;
    top: 43rem;
    }
.text-row--gray{
    width: auto;
    height: auto;
    min-height: 4rem;
    display: inline;
    font-size: 2rem;
    color: #999999;
}
.text-row-gray{
    font-size: 2rem;
    color: #999999;
}
.text-row{
    font-size: 2rem;
    position: relative;
    top: -4rem;
    text-indent: 11rem
}
.text-row-last{
    word-wrap:break-word;
    font-size: 1.5rem;
    margin: 0 0 0 10rem;
    padding: 0;
    line-height: 130%;
    position: absolute;
    top: 42.5rem;
    }

.star{width: 2rem;
    height: 2rem;
    margin: 0;
    padding: 0;
    background-size: cover;
    position: relative;
    top: 0.7rem;
   }
.star-second
{width: 2rem;
    height: 2rem;
    margin: 0 2.5rem 0 0;
    background-size: cover;
    position: relative;
    top: 0.7rem;
    left: 2rem}
.text-row-red{font-size: 2rem;
    color: red;
    position: relative;
    top: -4rem;
    text-indent: 11rem}
.text-row--gray{
    text-indent: 5rem;
    color: #999999 ;
    font-size: 2rem;
}


.button-white{width: 40%;
   height: 5rem;
   border-radius: 1rem;
    border:solid thin #5fc0cd;
   outline:medium ;
   background-color: white;
   color:#5fc0cd;
   font-size: 2rem;
    position: relative;
    top:5rem;
    left:5%;

   }
.button-blue{width: 40%;
    height: 5rem;
    border-radius: 1rem;
    border: solid thin white;
    outline: medium;
    font-size: 2rem;
    color: white;
    background-color: #5fc0cd;
    position: relative;
   top: 5rem;
   right: -10%}