.row-one{
    width: auto;
    height: 280px;
    margin: 15% 0 0 8.75% ;
}
.row-one-box-one{
    width: 300px;
    height: 200px;
    float: left;
    text-align: center;
}
.row-one-box-two{
    width: 250px;
    height: 200px;
    float: left;
    text-align: center;
}
.row-one-box-three{
    width: 270px;
    height: 200px;
    float: left;
    text-align: center;
}
.row-one-box-four{
    width: 250px;
    height: 200px;
    margin: 0 0 0 4% ;
    border-left:dashed thin #999999 ;
    float: left;
    text-align: center;
}
.row-one-box-img-one{
    width: 45px;
    height: 60px;
    background-image: url("task07-1.png");
    background-position: 0 0;
    display: inline-block;
}
.row-one-box-img-two{
    width: 60px;
    height: 60px;
    margin: 1%;
    background-image: url("task07-1.png");
    background-position: 0 -70px;
    display: inline-block;
}
.row-one-box-img-three{
    width: 53px;
    height: 60px;

    background-image: url("task07-1.png");
    background-position: -45px 0;
    display: inline-block;
}
.title{
    font-weight: 600;
    margin: 8% 0 0 0;
    font-size: 2rem;
}
.main{
    text-align: left;
    font-size: 1.5rem;
    margin: 8%;
    color: #999999;
}
.main-{
    text-align: left;
    font-size: 1.5rem;
    margin: 8%;
    color: #999999;
    text-indent: -10px;
    line-height: 0;
}
.row-one-box-four-small{
    width: 150px;
    height: 100px;
    margin: 30%;
}
.row-one-box-four-row{
    color: #26a26f;
    width: 150px;
    height: 23px;
    font-size: 2rem;
}
.row-one-box-four-icon{
    width: 20px;
    height: 20px;
    margin: 2% 0 0 0;
    background-image: url("task07-1.png");
    background-position: -125px -50px;
    float: left;
}
.number{
    width: 60px;
    height: 20px;
    float: left;
    color: #26a26f;
}
.row-two{
    width: auto;
    height: 350px;
    margin: 0  8.75% 0 8.75%;
}
.row-title{
    text-align: center;
    width: auto;
    height: 20px;
    margin:  0 0 5% 0;
}

.title-{
    font-weight: 600;
    font-size: 2rem;
}
.row-two-box{
    width: 275px;
    height: 100px;
    float: left;
    margin: 2% 0 0 0;
    line-height: 100px;
}
.row-two-box-circular{
    width: 6rem;
    height: 6rem;
    border-radius: 5rem;
    float: left;
    margin: 5% 0 0 0;
    border: solid thin #ededed;
    box-shadow:  2px 2px #ededed;
}
.number-green{
    color: #26a26f;
    text-align: center;
    line-height: 6rem;
    font-size: 2rem;
}
.row-two-box-text{
    width: 150px;
    height:auto;
    margin: 10% 0 0 2%;
    display: inline-block;
    line-height: 2rem;
    word-wrap: break-word;
    font-size: 1.4rem;
    color:#999999;
}
.row-two-box-arrow{
    width: 30px;
    height: 20px;
    margin: 14% 0 0 0;
    background-image: url("task07-1.png");
    background-position: -95px -115px;
    float: right;
}
.row-three{
    width: auto;
    height: 500px;
    margin: 0  8.75% 0 8.75%;
}
.row-three-box{
    width: 225px;
    height: 350px;
    float: left;
    margin:  2% 4% 2% 0 ;
    line-height: 2rem;
    text-align: center;
    border: solid #999999 thin;
}
.row-three-box-circular-one{
    width: 9rem;
    height: 9rem;
    border-radius: 5rem;
    float: left;
    margin: 10% 25%;
}
.row-three-box-circular-two{
    width: 9rem;
    height: 9rem;
    border-radius: 5rem;
    float: left;
    margin: 10% 25%;
}
.row-three-box-circular-three{
    width: 9rem;
    height: 9rem;
    border-radius: 5rem;
    float: left;
    margin: 10% 25%;
}
.row-three-box-circular-four{
    width: 9rem;
    height: 9rem;
    border-radius: 5rem;
    float: left;
    margin: 10% 25%;
}
.row-three-box-main{
    text-align: left;
    font-size: 1.3rem;
    margin: 8%;
    color: #999999;
}
.row-three-row{
    width: 150px;
    margin:  0 0 0 45%;
    float: left;
}
.row-three-circular{
    width: 2rem;
    height: 2rem;
    margin:  0 0 0 4%;
    border-radius: 1rem;
    background: #f0f0f0;
    float: left;
}
.row-four{
    width: auto;
    height: 250px;
    margin: 4%  8.75% 0 8.75%;
}
.row-four-box{
    width: 100%;
    height: 150px;
    border: solid thin #e2e2e2;
    background: white;
}
.row-four-box-img{
    margin:4% 5% 0 3%;
    display: inline-block;
}
.row-five{
    width: auto;
    height: 150px;
    margin: 0;
}
.ul{
    list-style:disc;
}
.li {
    margin: 0 0 0 5%;
    float: left;
}
.a{
    font-size: 1.5rem;
    color:#999999;
}
.row--title{
    text-align: center;
    width: auto;
    height: 20px;
    margin:  0 0 2% 0;
}
.guide-fourth-links{
    border-bottom: solid 0.5rem white;
}