.row-one-box{
    text-align: center;
    margin: 5% 0 0 0;
}
.row-img-one{
    width: 3.6rem;
    height: 5rem;
    margin: 0 0 8% 0;
    background-image: url("task07-1.png");
    background-position: 0 0;
    display: inline-block;
}
.row-img-two{
    width: 5.2rem;
    height: 5rem;
    margin: 1% 0 8% 0;
    background-image: url("task07-1.png");
    background-position: 0 -70px;
    display: inline-block;

}
.row-img-three{
    width: 4.5rem;
    height: 5rem;
    margin: 0 0 8% 0;
    background-image: url("task07-1.png");
    background-position: -45px 0;
    display: inline-block;
}
.title{
    font-weight: 600;
    margin:0 0 5% 0;
    font-size: 2rem;

}
.main{
    width: 100%;
    text-align: left;
    font-size: 1.5rem;
    color: #999999;
}
.row-one--box{
    width: 12.5rem;
    height: 15rem;
    margin: 5% 0 0 0 ;
    border-left:dashed thin #999999 ;
    float: left;
    text-align: center;
}
.main-{
    text-align: left;
    font-size: 1.5rem;
    margin: 8%;
    color: #999999;
    text-indent: -1rem;
    line-height: 0;
}
.row-one--box-margin{
    margin: 30% 70%;
}
.row-one--box-row{
    color: #26a26f;
    width: 12rem;
    height: 2rem;
    font-size: 2rem;
}
.row-one-icon{
    width: 2rem;
    height: 2rem;
    margin: 2% 0 0 0;
    background-image: url("task07-1.png");
    background-position: -125px -50px;
    float: left;
}
.number{
    width: 3rem;
    height: 1rem;
    float: left;
    color: #26a26f;
}
.row-title{
    text-align: center;
    width: auto;
    height: 2rem;
    margin:  5% 0 0 0;
    font-weight: 600;
    font-size: 2rem;
}
.row-circular{
    width: 6rem;
    height: 6rem;
    border-radius: 5rem;
    float: left;
    margin:  0 0 0 0 ;
    border: solid thin #ededed;
    box-shadow:  0.1rem 0.1rem #ededed;
    background:#ffffff ;
}
.number-green{
    color: #26a26f;
    text-align: center;
    line-height: 6rem;
    font-size: 2rem;
}
.row-two-box{
    height: 6rem;
    line-height: 6rem;
    padding-right:0 ;
    padding-left: 0;
    margin: 5% 0 0 0;
    display:block;
}
.row-two-box-text{
    width: 58%;
    height: 6rem;
    float: left;
    padding: 5% 3% 0 3% ;
    line-height: 2rem;
    text-align: left;
    word-wrap: break-word;
    font-size: 1.2rem;
    color:#999999;
}
.row-two-box-arrow{
    width: 2rem;
    height: 1.8rem;
    position: relative;
    top: 2rem;
    background-image: url("task07-1.png");
    background-position: -95px -115px;
    float: left;
}
.row-two-box--text{
    width: 55%;
    height: 6rem;
    float: left;
    padding: 8% 3% 0 3% ;
    line-height: 2rem;
    text-align: left;
    word-wrap: break-word;
    font-size: 1.2rem;
    color:#999999;
}
.row-three-box{
    height: 30rem;
    padding-right:0 ;
    padding-left: 0;
    float: left;
    margin:  15% 0 0 0 ;
    line-height: 2rem;
    text-align: center;
    background:#ffffff ;
    border: solid #eeeded thin;
}
.row-three-box-circular{
    width: 9rem;
    height: 9rem;
    border-radius: 5rem;
    display: inline-block;
    margin:10% 0;
}
.row-three-box-main{
    font-size: 1.3rem;
    margin:5% 13%;
    color: #999999;
    text-align: left;
}
.row-background{
    background: #ffffff;
    border: solid thin #e2e2e2;
}
.row-margin{
    margin: 5% 0 5% 0;
}
.row-img{
    text-align: center;
    padding: 5% 0 ;
    height: 10rem;
}
.row-img img{
    display: inline-block;
}
.row--img{
    text-align: center;
    padding: 6% 0 ;
    height: 10rem;
}
.row--img img{
    display: inline-block;
}