html{font-size: 62.5%}
 body{width: 100%;
      height: 100%;;
      padding: 0;
      margin: 0;
      background-color:#eff0f4 }
 .head{background-color:#5fc0cd ;
     width: 100%;
     height: 4.4rem;
     margin:0;
     color: white}
 .title-center{font-size: 1.8rem;
     text-align: center;
     position:relative;
     top:1.5rem }
 .title-left{font-size: 1.6rem;
     position:relative ;
     top:-2rem }
 .title-right{font-size: 1.5rem;
    text-align: right;
    position: relative;
    right: 1.5rem;
    top: -4.8rem}
 .icon{width: 100%;
    height: 5rem;
     border: none;
     margin: 0;
     padding: 0;
    background-color: white;
    position: relative;
    top: 0.8rem}
 .textbox{width: 70%;
    height: 4.7rem;
     border: 0;
     margin: 0;
     padding: 0;
     outline: medium;
    font-size: 1.6rem;
    position: relative;
    top: -2rem}
 .button{background-color:#5fc0cd;
    width: 100%;
    height: 5rem;
    border: none;
    position: relative;
    top: 3.5rem;
    font-size: 1.8rem;
    color: white}
 .note{color:#5fc0cd;
    font-size: 1.6rem;
    text-align: right;
    position: relative;
    right:1.2rem;
    top:4.5rem }