body{background-color:#68cdd5;
    margin: 0 0 20% 0 ;
    padding: 0 0 20% 0;}
p{font-size: 4.5vw;
    color: white;
    line-height: 185%;}
.logo{text-indent: 30%;
    position: relative;
    top: 2.6em;  }
.text{font-family:Helvetica, "Hiragino Sans GB", "微软雅黑", "Microsoft YaHei UI", SimSun, SimHei, arial, sans-serif;
    text-indent:14%;
    line-height: 91%;
    position: relative;
    top: 5em}
.arrow{text-indent: 4.5%;
    position: relative;
    top: 0.8em;}
.logo-people {text-indent: 22%;
    position: relative;
    top:10.2em;}
.logo-grape{text-indent: 67%;
    position: relative;
    top: 5.45em;}
.note{font-size: 3.5vw;
    font-family: "微软雅黑";
    text-indent:1%;
    position: relative;
    top: 5.5em;}