*{
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    font-family: Microsoft YaHei, serif;
}
@media screen and (max-width:600px) {
    html {
        font-size: 40%;
    }
}
ul li{
    list-style: none;

}
.visibility{
    visibility: hidden;
}