html{
    padding: 0;
    max-width: 720px;
    margin: 0 auto;
}
body{
    width: 100%;
}

.head{
    width: 100%;
    height: 6rem;
    background: #5fc0cd;
    text-align: center;
}
.head-button-one,.head-button-twe{
    border: solid thin #55a8b3 ;
    margin: 0.4rem 0 0 0;
    padding: 0.5rem 1rem;
    outline: none;
    border-radius: 0.5rem;
    background: #55a8b3;
    font-size: 3.2rem;
    text-align: center;
    line-height: 3.6rem;
    color: #FFFFFF;
    display: inline-block;
}
.head-button-twe{
    margin: 0.4rem 0 0 -1rem;
    border: solid thin white;
    background: #ffffff;
    color: #5fc0cd;
}
.head-img{
    float: right;
    position: relative;
    top:1rem ;
    right:1rem;
}
.head-two{
    height: 5rem;
    margin: 0;
    padding: 0;
    border-bottom:solid thin #e1e5e7;
    text-align: center;
}
.head-two-box{
    width: 32%;
    height: 5rem;
    margin: auto;
    padding: 0;
    font-size: 2.7rem;
    text-align: center;
    line-height: 5rem;
    color: #afbac0;
    display: inline-block;
}
.display{
    display: inline-block;
}
.head-two-vertical-line{
    width: 0.2rem;
    height: 2rem;
    margin: 1.5rem 0 0 0;
    padding: 0;
    border: none;
    float: right;
    background: #e1e5e7;

}
.head-two-triangle{
    width: 0;
    height: 0;
    margin: 2rem 0 0 0;
    padding: 0;
    border-top: solid 0.65rem #afbac0;
    border-left: solid 0.65rem transparent;
    border-right: solid 0.65rem transparent;
    float: right;
}
.row{
    width: 100%;
    height: auto;
    padding: 15px 0;
}
.row ul li{
    margin: 0 0 1rem 0;
    word-wrap: break-word;
}
.row ul {
    width: 50%;
}
.row ul li br{
    font-size: 2.5rem;
}
.row-bottom{
    border-bottom: solid thin #e1e5e7;
}
.row-img-one{
    padding: 0 15px ;

}
.row-img-two{
    padding: 0 15px ;
}
.row-arrow{
    font-size: 0;
    float: right;
    margin: 1rem 0 0 0.5rem;
}
.row-arrow:before{
    content: "";
    position: relative;
    top: 1rem;
    left: 0;
    border-left: solid 1.5rem #5fc0cd;
    border-top: solid 1.5rem transparent;
    border-bottom: solid 1.5rem transparent;
}
.row-arrow:after{
    content: "";
    position: relative;
    top: 1rem;
    left: -2rem;
    border-left: solid 1.5rem white;
    border-top: solid 1.5rem transparent;
    border-bottom: solid 1.5rem transparent;
}

.row-text-one{
    color: #999999;
    font-size: 2.5rem;
}
.row-text-two{
    font-size: 2.5rem;
    margin: 0 0 0 15%;
}
.row-text-three {
    color: #999999;
    font-size: 2.5rem;
}
.row-text-red {
    color: red;
    font-size: 3rem;
}
.right{
    float: right;
}

.ending{
    width: 100%;
    max-width: 720px ;
    background: #f8fafb;
    height: 7rem;
    text-align: center;
    position: fixed;
    border-top:solid thin #e1e5e7 ;
    bottom:0 ;
}
.ending-circular{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 4.7rem;
    height: 4.7rem;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    background: #5fc0cd;
}
.ending-img-one{
    display: inline-block;
    position: relative;
    top: 0.7rem; ;
}
.ending-img-two{width: 3rem;
    display: inline;
}
.ending-img-three{width: 3rem;
    display: inline;
}
.ending-text-blue{
    margin: 0;
    padding: 0;
    float: left;
    display: inline-block;
    font-size: 2rem;
    color:#5fc0cd;
    position: relative;
    top: 3rem;
    left: 3.2rem;
}
.ending-text-gray{
    float: right;
    display: inline-block;
    font-size: 2rem;
    color:#999999;
    position: relative;
    top: 3rem;
    left: -3.2rem;
}
.ending-box-one{
    float: left;
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0.5rem 0 0 0 ;
    position: relative;
    left: 10%;

}
.ending-box-two{
    float: right;
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0.5rem 0 0 0 ;
    position: relative;
    right: 10%;
}