html{font-size: 62.5%}
body{
    width: 100%;
    height: 100%;
    margin: 0 ;
    background: #f9f9f9;
}
body{
    width: 100%;
    margin: auto;
    padding: 0;
    background: #fafafa;
}
*{
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    font-family: Microsoft YaHei, serif;
}
@media screen and (max-width:600px) {
    html {
        font-size: 40%;
    }
}
a{
    text-decoration: none;
}
.head{
    width: 100%;
    height: 5rem;
    background:#1d7ad9;
    color: white;
    line-height: 5rem;
    font-size: 1.6rem;
}
.head-telephone{
    margin: 0  0 0 8.75%  ;
    float: left;
    font-size: 1.4rem;
}
.head-button{
    margin: 0 8.75% 0 0;
    height: 5rem;
    width: auto;
    float: right;
}
.head-button-one {
    text-align: center;
    height: 5rem;
    width: 5rem;
    float: left;
}
.head-button-two{
    text-align: center;
    height: 5rem;
    width: 5rem;
    float: left;
}
.guide{
    height: auto;
}
.guide-button{
    height: 4rem;
    width: 40rem;
    color: black;
    font-size: 1.7rem;
    text-align: center;
    line-height: 4rem;
    float: right;
    margin: 3% 8.75% 0 0;
}
.guide-button-one,.guide-button-two,.guide-button-three,.guide-button-four{
    height: 4rem;
    width: 5rem;
    margin: 0 0 0 5% ;
    background:white;
    float: right;
    border-radius: 1rem;
}
.guide-button-two{
    width: 9rem;
}
.guide-button-three{
    width: 7rem;
}
.guide-button-four{
    width: 9rem;
}
.main{
    background: white;
    width: 100%;
    height: auto;
    margin: 3% 0 0 0;
    float: left;
}
.main-row-one{
    height: 10rem;
    margin: 0 8.75% 0 0;
}
.main-row-one-step{
    width: 12rem;
    height: 8rem;
    float: right;
    margin: 3%  0 0 0;
    color:#cccccc ;
    font-size: 2rem;
}
.main-row-one-step-number{
    width: 12rem;
    height: 3rem;
    float: left;
}


.main-row-one-step-cross,.main-row-one-step--cross{
    width: 5rem;
    height: 0.4rem;
    margin: 6% 0 0 0;
    background:#cccccc;
    float: left;
}
.main-row-one-step-circular,.main-row-one-step--circular{
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    background: #cccccc;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    text-indent: 0.7rem;
    line-height: 2rem;
    float: left;
}
.main-row-one-step-text,.main-row-one-step--text{
    width: 12rem;
    height: 3rem;
    text-align: center;
    float: left;
    font-size: 1.8rem;
}
.main-row-one-step--circular{
    background: #ff7f02;
}
.main-row-one-step--cross{
    background: #ff7f02;
}
.main-row-one-step--text{
    color: #ff7f02;
}
.main-box{
    margin: 2% 8.75% 4% 8.75%;
    height: 50rem;
    border: solid #e8e8e8 thin;
}
.main-box-row-one{
    height: 3rem;
}
.main-box-vertical{
    height: 2.5rem;
    width: 0.3rem;
    background:#1d7ad9 ;
    float: left;
}
.main-box-title{
    color: black;
    font-size: 2.1rem;
    text-indent: 1rem;
}
.main-box-row-two{
    height: 4rem;
    color:#1d7ad9 ;
    text-indent: 1rem;
    line-height: 4rem;
    background: #f5f5f5;
    font-size: 1.8rem;
}
.box{
    width: 3rem;
    height: 3rem;
    margin: 0.8rem;
    float: left;
}
.box-long{
    width: 3rem;
    height: 0.5rem;
    border: solid 0.1rem #1d7ad9;
}
.box-short{
    width: 2.5rem;
    height: 1.7rem;
    margin:  0 0 0 0.25rem;
    border: solid 0.1rem #1d7ad9;
}
.box-line{
    width: 1rem;
    height: 0.2rem;
    background:#1d7ad9;
    margin: 0.5rem auto;
}
.main-box-row-three{
    height: 5rem;
    color:#8b8c8c;
    border-bottom: solid thin #e8e8e8;
    line-height: 4rem;
    background: #fbfcff;
    font-size: 2rem;
}
.input{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    margin: 15px ;
    width:20px;
    height:20px;
    border-radius: 10px;
    border: solid thin black;
    float: left;
    outline: none;
}
.input:checked{
    background:#1d7ad9;
}
.input:checked::before{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: white;
    display: inline-block;
    content: '';
    text-align: center;
    margin: 4px;
}
.input-box{
    width: 14rem;
    height: 3rem;
    float: left;
    font-size: 1.7rem;
}
.menu{
    width: 12rem;
    height: 3rem;
    margin: 0.8rem;
    border: solid thin #e8e8e8;
    float: right;
    line-height: 3rem;
    text-indent: 2rem;
    font-size: 1.4rem;
}
.menu-box{
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    background:#1d7ad9 ;
    float: right;
}
.menu-box-triangle{
    width:0;
    height:0;
    content:'';
    margin: 0.6rem 0.2rem;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent ;
    border-top:white 10px solid;
}
.menu ul{
    list-style: none;
    display:none;
    border: solid thin #e8e8e8;
    padding: 0;
    margin: 0;
}
.menu ul li{
    width: auto;
    height: 3rem;
    text-indent: 45%;
    background: white;
}
.menu ul li:hover{
    background: #1d7ad9 ;
    color: white;
}
.box-two{
    width: 2.8rem;
    height: 2.8rem;
    margin: 0.8rem 0.8rem 6em 0.8rem;
    background-image: url("task09-1.png");
    background-position: 0 0;
    background-size: cover;
    float: left;
}
.input-two{
    width: 6rem;
    height: 2.5rem;
}
.label{
    margin: 0 2rem 0 0;
}
#center{
    position: relative;
    top: -3rem;
}
.main-box-row--three{
    height: 5rem;
    margin: 0 0 3rem 0;
    color:#8b8c8c;
    line-height: 4rem;
    background: #fbfcff;
    font-size: 2rem;
}
.box-three{
    width: 2.1rem;
    height: 2.8rem;
    margin: 0 0.8rem 8em 0.8rem;
    background-image: url("task09-1.png");
    background-position: -3.12rem 0;
    background-size: cover;
    float: left;
}
.main-box-row-four{
    width: auto;
    height: auto;
    text-align: center;
}
.button{
    margin: 2rem 0 0 0;
    width: 12rem;
    height: 4rem;
    color: white;
    font-size: 2.4rem;
    background: #e15053;
}
.bottom{
    height: auto;
    background:  #f9f9f9;

}
.bottom-left{
    line-height: 12rem;
    margin: 0 0 0 8.75%;
    float: left;
    font-size: 1.9rem; ;
    color: #999999;
}
.bottom-center{
    width: 28rem;
    height: 8rem;
    margin: 4rem 0 0 7rem;
    float: left;
}
.bottom-center ul{
    list-style: none;
    padding: 0;
}
.bottom-center ul li{
    float: left;
    margin: 1rem 0 0 0;
}


.bottom-center ul li a{
    text-decoration: none;
    margin: 3rem 3rem 3rem 0;
    color: #999999;
    font-size: 1.4rem;
}
#first{
    color: #1d7ad9 ;
}
.bottom-right{
    width: 23rem;
    height: 8rem;
    float: right;
    margin: 4rem 8.75% 0 0;

}
.bottom-right-text{
    width: 20rem;
    color:#999999;
    font-size: 1.1rem;
    line-height: 2.5rem;
}
img{
    float: right;
}
.bottom-bottom{
    margin: 4rem 0 0 0;
    background:#1d7ad9 ;
    height: 3rem;
    width: 100%;
    float: right;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    line-height: 3rem;
}