html{font-size: 62.5%}
body{
    width: 100%;
    margin: auto;
    padding: 0;
}
a{
    text-decoration: none;
}

.content{
    width: 100%;
    height:auto;
    background: #fafafa;
    margin:auto ;
}
.content-img{
    width: 100%;
    height: 14rem;
    background-size: cover;
    background-image: url("task07-3.png");
    margin: 0;
}
.content-row-one{
    width: auto;
    height: 4rem;
    margin: 1rem 0 1rem 8.75%;
    line-height: 4rem;
}
.content-links,.content-links-one{
    font-size: 1.7rem;
    color: black;
}
.content-links-one{
    color: #3fb582;
}
.content-left-box{
    width:260px ;
    height: auto;
    margin: 0 0 0 8.75%;
    border: solid thin #ededed;
    box-shadow:2px 2px #ededed;
    display: inline-block;
    background: white;
}
.content-left-row-one,.content-left-row{
    width: 260px;
    height: 4.5rem;
    text-align: center;
    line-height: 5rem;
    margin: 0;
}
.content-left-row-one{
    border-bottom: solid thin #ededed;
    font-size: 1.7rem;
    font-weight: bold;
}
.content-left-row{
    color: #53bb8c;
    font-size: 1.3rem;
}
.content-left-row-circular{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 0.5rem;
    border: solid thin #fe6611;
    margin: 0 1rem;
    display: inline-block;
}
.content-links-two{
    color: #3fb582;
}
.circular{
    background: #f9a372;
}
.no-center{
    text-align:left;
    position: relative;
    left: 6.5rem;
}
.content-right-box{
    width:800px;
    height: auto;
    margin: 0 8.75% 0 0;
    border: solid thin #ededed;
    box-shadow: -2px 2px #ededed;
    display: inline-block;
    float: right;
    background: white;
}
.content-right-row-one{
    width: 800px;
    height: 15rem;
    border-bottom: thin solid #ededed;
    line-height: 15rem;
}
.content-right-row-one-img{
    margin: 0 0 0 8.75%;
}
.content-right-row-one-text{
    width:500px;
    height: auto;
    margin: 4% 8.75% 0 0;
    float: right;
    font-size:1.4rem;
    line-height: 2.2rem;
    word-wrap: break-word;
    color: #999999;
}
.content-right-row{
    width: 800px;
    height: auto;
    font-size: 1.5rem;
    line-height: 3rem;
    text-indent: 2.3rem;
    word-wrap: break-word;
    color: #999999;
}
.content-right-row-text{
    margin: 4% 5% 7% 5%;
}
.guide-second-links{
    border-bottom: solid 0.5rem white;
}
.td{
    position: relative;
    left: 0.5rem;
}