html{
    font-size:62.5%
}
body{
    width: 640px;
}

.header{
    background-color: #29bde0;
    width: 640px;
    padding-bottom: 1rem; ;
}
.header .title{
    color: #ffffff;
    height: 5rem;
    text-align: center;
    padding:0 17px;
    font-size: 3rem;
    line-height: 5rem;
}
.header .title .menu{
    width: 34px;
    height: 30px;
    border: solid 2px #ffffff;
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 20px ;
    cursor: pointer;
    font-size: 0;
    float: left;
    line-height: 0;
}
.header .title .close{
    float: right;
    margin-top: 0.5rem;
}
.header .title .menu .line{
    width: 80%;
    height: 3px;
    background-color: white;
    display: inline-block;
    margin: 2px 0 5px 0 ;
}

.head-two{
    width: 100%;
    height: 5rem;
    margin: 0;
    padding: 0;
    font-size: 2.4rem;
    line-height: 5rem;
    background:#b9e9f5;
}
.head-three-triangle{
    width: 0;
    height: 0;
    margin: 0 0 0 8vw;
    border-top: solid #b9e9f5 1rem ;
    border-right: solid transparent 1rem;
    border-left: solid transparent 1rem;
    z-index: 2;
}
.head-two-circular{
    width: 3rem;
    height: 3rem;
    margin: 1rem 0 0 0;
    border-radius: 2rem;
    background:#fbb435;
    float: right;
    outline: none;
    position: relative;
    left: -1rem;
}
.head-two-triangle{
    width: 0;
    height: 0;
    margin: 0 0 0 1rem;
    border-left: solid white 1rem;
    border-top: solid transparent 1rem;
    border-bottom: solid transparent 1rem;
}
.head-three{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background: #29bde0;
}
.head-three-text{
    padding-left: 5rem;
    padding-top: 1rem;
    font-size: 2.4rem;
    color: white;
}
.content{
    background-color: #29bde0;
    min-height: 80rem;
    text-align:left;
    padding: 4rem 0;
}
.content .box,.content .boxs{
    width: 12rem ;
    display:inline-block;
    height:12rem ;
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    margin-bottom: 5rem;
    border: solid 3px #ffffff;
    background-color: #f5c97b;
    color: black;
    text-align: center;
    line-height: 9rem;
    font-size: 4rem;
}
.content .boxs{
    background-color: #83b09a;
}

.content .box .bottom,.content .boxs .bottom{
    background: #83b09a;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    color: #ffffff;
    font-size:3rem;
    width: 12rem;
}



.row-box-img{
    width: 15vw;
    text-align: center;
    position: relative;
    top: 2vw;
}
.box-img{
    width: 20rem;
    height: 4rem;
    position: absolute;
    margin-top: 1rem;
}
.box-img-one{
    width: 3rem;
    height: 3rem;
    background-size: cover;
    background-image: url("task4-4.png");
    background-position: 0 0;
}
.row-box-img2{
    width:  3vw;
    height:  3vw;
    background-size: cover;
    background-image: url("task4-4.png");
    background-position: -3vw 0;
    display: inline-block;
}
.row-box-img3{
    width:  3vw;
    height: 3vw;
    background-size: cover;
    background-image: url("task4-4.png");
    background-position: -6vw 0;
    display: inline-block;
}
.row-box-img4{
    width: 3vw;
    height: 3vw;
    background-size: cover;
    background-image: url("task4-4.png");
    background-position: -8.9vw 0;
    display: inline-block;
}
body .button{
    position: fixed;
    bottom: 0;
    width: 640px;
    height: 15rem;
    background:#29bde0 ;
    text-align: center;
}
body .button button{
    width: 76.5%;
    height: 10rem;
    margin: 2.5rem auto;
    background:#fbb435 ;
    color: #ffffff;
    font-size: 4rem;
    cursor: pointer;
    border: none;
}
body .button button:hover{
    background: #fabd50;
}